

button {
    width: 300px;
    height: 70px;
    border-radius: 35px;
    border: none;
    background-color: #ff6c57;
    margin: 0 auto;
    transition: 0.1s;
    cursor: pointer;
}
button:hover {
    transform: scale(1.01);
    width: 303px;
    height: 73px;
}

button a {
    font-size: 18px;
    color: white;
}
button:hover a {
    text-decoration: underline;
}





/* ----------- main_visual -------------- */


.main_visual {
    position: relative;
    padding-top: 150px;
    width: 99.8%;
    height: 920px;
    background-image: url(../imags/mian/main_visual.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 100px;

    transition: 0.5s;
    /* border: 1px solid rgba(51, 51, 51, 0); */
}

.main_visual .swiper {
    position: relative;
    width: 800px;
    height: 250px;
    margin-top: 200px;
    text-align: center;

    /* background-color: aqua; */
}

.main_visual .swiper .swiper-wrapper .swiper-slide {
}

.main_visual .swiper .swiper-wrapper .swiper-slide h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
.main_visual .swiper .swiper-wrapper .swiper-slide p {
    font-size: 18px;
}

.main_visual .visual-button-prev,
.main_visual .visual-button-next {
    position: absolute;
    width: 50px;
    height: 50px;
    color: #ddd;
    font-size: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    /* background-color: aqua; */
}

.main_visual .visual-button-prev{top : 20%}
.main_visual .visual-button-next{top : 65%}

.main_visual button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}










/* ----------- product_coner -------------- */

.product_coner {
    width: 1278px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.product_coner h2 {
    text-align: center;
    font-size: 46px;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    line-height: 40px;
    margin-bottom: 40px;
}
.product_coner h3 {
    text-align: center;
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 65px;
}

.product_coner .categori {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 20px;
    opacity: 0.7;
    color: #222;
    margin-bottom: 100px;
}

.product_coner .categori li {
    cursor: pointer;
}

.product_coner .categori .choice {
    opacity: 1;
    /* text-decoration: underline; */
    border-bottom: 3px solid #222;
    font-weight: bold;
}



.product_coner .product_list {
    display: flex;
}

.product_coner .product_list li {
    cursor: pointer;
}

.product_coner .product_list li .thumbnail {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    transition: 0.3s;

    /* border: 1px solid #333; */
}

.product_coner .product_list li .thumbnail img {
    width: 100%;
}

.product_coner .product_list li .thumbnail .thumbnail_logo {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    overflow: hidden;
    top: 10px;
    left: 10px;
}
.product_coner .product_list li .thumbnail:hover {
    transform: scale(1.07);
}

.product_coner .product_list li .thumbnail i {
    position: absolute;
    background-color: gray;
    color: white;
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: -40px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    border-radius: 20px;
    opacity: 0;
    transition: 0.5s;
}
.product_coner .product_list li .thumbnail:hover .fa-magnifying-glass-plus {
    opacity: 1;
    bottom: 110px;
}
.product_coner .product_list li .thumbnail:hover .fa-heart {
    opacity: 1;
    bottom: 60px;
}
.product_coner .product_list li .thumbnail:hover .fa-cart-shopping {
    opacity: 1;
    bottom: 10px;
}



.product_coner .product_list li .text_box {
    text-align: center;
    margin: 30px 0;
}










/* -----------------sub_banner--------------------- */


.sub_banner {
    width: 100%;
    min-width: 1500px;
    position: relative;
    margin-bottom: 100px;
}

.sub_banner .sub_banner_box {
    width: 100%;
}

.sub_banner .sub_banner_box img {
    width: 100%;
}

.sub_banner .text_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.8s;
}


.origin {
    opacity: 0;
    transition: all 1s;
}
.origin.position_bottom {
    transform: translateY(300px);
}
.origin.position_left {
    transform: translateX(-200px);
}
.show .origin {
    opacity: 1;
    transform: translateY(0);
}
.show .origin.delay_00 {
    transition-delay: 0s;
}
.show .origin.delay_01 {
    transition-delay: 0.3s;
}




.sub_banner .text_box h2 {
    font-size: 39px;
    margin-bottom: 20px;
}

.sub_banner .text_box h3 {
    font-weight: normal;
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 30px;
}












/* -----------------2022_HOT--------------------- */


.HOT_2022 {
    width: 1278px;
    margin: 0 auto 150px;
}

.HOT_2022 h2 {
    font-size: 39px;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    margin-bottom: 50px;
    text-align: center;
}

.HOT_2022 h3 {
    font-weight: normal;
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 70px;
    text-align: center;
}


#hot_brand_01,
#hot_brand_02,
#hot_brand_03,
#hot_brand_04,
#hot_brand_05,
#hot_brand_06 {
    display: none;
}

.HOT_2022 .outer_box {
    width: 100%;
    margin-bottom: 90px;
    display: flex;

    /* border: 1px solid #333; */
}

.HOT_2022 .outer_box .label_box {
    width: 270px;
    height: 620px;
    /* padding-right: 55px; */
    margin-right: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.HOT_2022 .outer_box .label_box label {
    width: 100px;
    text-align: center;
}

.HOT_2022 .outer_box .label_box label .logo_box {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}
.HOT_2022 .outer_box .label_box label .logo_box img {
    width: 100%;
}

#hot_brand_01:checked ~ .outer_box .sheet_box .sheet_01 {display: block;}
#hot_brand_02:checked ~ .outer_box .sheet_box .sheet_02 {display: block;}
#hot_brand_03:checked ~ .outer_box .sheet_box .sheet_03 {display: block;}
#hot_brand_04:checked ~ .outer_box .sheet_box .sheet_04 {display: block;}
#hot_brand_05:checked ~ .outer_box .sheet_box .sheet_05 {display: block;}
#hot_brand_06:checked ~ .outer_box .sheet_box .sheet_06 {display: block;}

#hot_brand_01:checked ~ .outer_box .label_box .hot_brand_001 {color: #ff6c57;}
#hot_brand_02:checked ~ .outer_box .label_box .hot_brand_002 {color: #ff6c57;}
#hot_brand_03:checked ~ .outer_box .label_box .hot_brand_003 {color: #ff6c57;}
#hot_brand_04:checked ~ .outer_box .label_box .hot_brand_004 {color: #ff6c57;}
#hot_brand_05:checked ~ .outer_box .label_box .hot_brand_005 {color: #ff6c57;}
#hot_brand_06:checked ~ .outer_box .label_box .hot_brand_006 {color: #ff6c57;}

#hot_brand_01:checked ~ .outer_box .label_box label .logo_box_01 {border: 5px solid #ff6c57;}
#hot_brand_02:checked ~ .outer_box .label_box label .logo_box_02 {border: 5px solid #ff6c57;}
#hot_brand_03:checked ~ .outer_box .label_box label .logo_box_03 {border: 5px solid #ff6c57;}
#hot_brand_04:checked ~ .outer_box .label_box label .logo_box_04 {border: 5px solid #ff6c57;}
#hot_brand_05:checked ~ .outer_box .label_box label .logo_box_05 {border: 5px solid #ff6c57;}
#hot_brand_06:checked ~ .outer_box .label_box label .logo_box_06 {border: 5px solid #ff6c57;}













/* -----------------brand_video--------------------- */

.brand_video {
    width: 100%;
    background-image: url(../imags/mian/main_video_bg\(crop\).png);
    background-size: cover;
    margin-bottom: 150px;
}

.brand_video .brand_video_inner {
    width: 1278px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.brand_video .brand_video_inner .text_box {
    width: 510px;
    color: #faf7e8;
}

.brand_video .brand_video_inner .text_box h2 {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 80px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.brand_video .brand_video_inner .video_box {
    width: 630px;
    height: 340px;
}












/* -----------------brand_review--------------------- */


.brand_review {
    width: 1278px;
    margin: 0 auto 170px;
}

.brand_review h2 {
    font-size: 39px;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    margin-bottom: 50px;
    text-align: center;
}

.brand_review h3 {
    font-weight: normal;
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 70px;
    text-align: center;
}

.brand_review .swiper {
    height: 500px;
    position: relative;
    padding-bottom: 100px;
    padding-top: 30px;
}

.brand_review .swiper .swiper-wrapper .swiper-slide {
    width: 300px;
    cursor: pointer;
    /* height: 450px; */
    transition: 0.3s;
}
.brand_review .swiper .swiper-wrapper .swiper-slide:hover {
    transform: translateY(-20px);
}

.brand_review .swiper .swiper-wrapper .swiper-slide .img_box {
    /* width: 100%; */
    height: 280px;
    position: relative;
    overflow: hidden;
    /* border: 1px solid #333; */
    background-size: cover;
}
   

.brand_review .swiper .swiper-wrapper .slide01 .img_box {
    background-image: url(../imags/mian/review_01.jpg);
}
.brand_review .swiper .swiper-wrapper .slide02 .img_box {
    background-image: url(../imags/mian/review_02.jpg);
}
.brand_review .swiper .swiper-wrapper .slide03 .img_box {
    background-image: url(../imags/mian/review_03.jpg);
}
.brand_review .swiper .swiper-wrapper .slide04 .img_box {
    background-image: url(../imags/mian/review_04.jpg);
}
.brand_review .swiper .swiper-wrapper .slide05 .img_box {
    background-image: url(../imags/mian/review_05.jpg);
}
.brand_review .swiper .swiper-wrapper .slide06 .img_box {
    background-image: url(../imags/mian/review_06.jpg);
}
.brand_review .swiper .swiper-wrapper .slide07 .img_box {
    background-image: url(../imags/mian/review_07.jpg);
}

.brand_review .swiper .swiper-wrapper .swiper-slide .img_box .label {
    position: absolute;
    top: 0;
    left: 20px;
    width: 0;
    height: 0;
    box-sizing: content-box;
    font-size: 11px;
    letter-spacing: 0.2em;

    border-top: 80px solid #ff6c57;
    border-bottom: 25px solid transparent;
    border-left: 30px solid #ff6c57;
    border-right: 30px solid #ff6c57;
}
.swiper-slide .img_box .label .label_text {
    position: relative;
}
.swiper-slide .img_box .label .label_text p {
    position: absolute;
    top: -50px;
    left: -25px;
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.1em;
}



.brand_review .swiper .swiper-wrapper .swiper-slide .text_box {
    padding: 32px 15px 30px;
    background-color: #faf7e8;

}

.brand_review .swiper .swiper-wrapper .swiper-slide .text_box h2 {
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
    margin-bottom: 15px;
}

.brand_review .swiper .swiper-wrapper .swiper-slide .text_box h3{
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 16px;
    color: gray;
    margin-bottom: 25px;
}

.brand_review .swiper .swiper-wrapper .swiper-slide .text_box p {
    font-size: 14px;
}

.brand_review .swiper_tool {
    width: 500px;
    height: 100px;
    margin: 30px auto 0;

    display: flex;
    justify-content: center;
}

.brand_review .swiper_tool div {
    width: 100px;
    height: 50px;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}

.brand_review .swiper_tool div i {
    cursor: pointer;
}













